doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Aggiungi un esame
    body 
        div
            h1 Aggiungi un esame
            form(action="add_exam" method="post") 
                label Esame
                input(type="text" name="esame" placeholder="esame")
                br
                label Voto 
                input(type="number" name="voto")
                br
                label Crediti
                input(type="number" name="crediti")
                br
                label Data
                input(type="date" name="data")
                br
                input(type="submit" value="Inserisci esame")

