form(method='POST' action='/upload' enctype='multipart/form-data')
  label Materia degli appunti 
  input(type="text" name="materia")
  br
  label Argomento degli appunti
  input(type="text" name="argomento")
  br
  label File Pdf di appunti 
  input(type='file' name='file')
  input(type='submit' value='Upload')
